.xgplayer-skin-default {
  .xgplayer-icon {
      display: block;
      width: 32px;
      height: 32px;
      overflow: hidden;
      fill: #fff;
      svg {
        position: absolute;
      }
  }
}
